#btn-validar{
  position: absolute;
  left: 10px; 
  font-size: 20px;
  color: rgba(0, 128, 0, 0.466);
}

#btn-apagar {
  position: absolute;
  left: 50px;
  font-size: 12px;
  color: rgba(165, 42, 42, 0.548);
}